<h1>Register</h1> 

  <form(method='POST', action='/users/register')
    #form-group
      <label id:
      input.form-control(name='id', type='text')
    #form-group
      label age:
      input.form-control(name='age', type='text')
      #form-group
      label famille:
      input.form-control(name='famille',type='famille')
    #form-group
      label race:
      input.form-control(name='race',type='race')
        #form-group
      label nourriture:
      input.form-control(name='nourriture',type='nourriture')
    #form-group
      label Password:
      input.form-control(name='password',type='password')
    #form-group
      <label>Confirm:
      input.form-control(name='password2',type='password')
    <br>
    <input.btn.btn-primary(type='submit',value='Submit')></input.btn.btn-primary>
</form>